<center>
	<h1>Editing "<%= @list.name %>"</h1>

	<%= render 'form' %>

	<br />

	<%= link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure? This list will be gone forever.' }, :class => "deleteLink right" %>
	<div class="clear"></div>
</center>