<h1><%= @list.name %></h1>

<%- if @list.list_items.empty? -%>
	<div class="alert">
		You haven't added any todo items to this list yet.
	</div>
<%- end -%>

<%= render "list_items/list_item" %>

<%= render "list_items/form" %>