<h1>Hi there!</h1>
<p>Todo Listy is the easiest and fastest way to keep really simple todo lists.</p>
<br />
<center>
	<%= link_to_unless_current "Get Started!", new_user_path, :class => "greenBtn" %>
</center>