<center>
	<h1>Quick, Simple Todo Lists</h1>
	<p>The fastest and easiest way to keep a <strong>todo list</strong> that you can access anywhere, anytime. Yep, it's entirely free!</p>
	<%= link_to_unless_current "Register Now (10 Seconds)", new_user_path, :class => "greenBtn" %>
</center>