<center>
	<h1>Hello!</h1>
	<p>Todo Listy is the easiest and fastest way to keep really simple todo lists. Plus, you access them anywhere.</p>
	<p>For example, I use it to keep track of iPhone app ideas, parts I need for my car, and more. You'll love it!</p>
	<br />
	<%= link_to_unless_current "Register Now! (10 Seconds)", new_user_path, :class => "greenBtn" %>
</center>