<ul id="listItems">
<% @items.each do |item| %>
  <li><%= item.item %> <%= link_to 'Delete', [item.list, item], :confirm => 'Are you sure?', :method => :delete, :class => "deleteLink" %></li>
<% end %>
</ul>